version: "3.9"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper

    ports:
      - "9092:9092"

    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_ADVERTISED_LISTENERS: >
        PLAINTEXT://kafka:29092,
        PLAINTEXT_HOST://localhost:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: >
        PLAINTEXT:PLAINTEXT,
        PLAINTEXT_HOST:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z kafka 29092"]
      interval: 10s
      timeout: 5s
      retries: 15

  mock-api:
    image: stoplight/prism:latest
    command: mock -h 0.0.0.0 /tmp/openapi.yaml
    volumes:
      - ./mock-api/openapi.yaml:/tmp/openapi.yaml
    ports:
      - "4010:4010"

  producer-service:
    build: ./producer-service
    depends_on:
      kafka:
        condition: service_healthy
      mock-api:
        condition: service_started

    environment:
      KAFKA_BOOTSTRAP: kafka:29092
      MOCK_API_URL: http://mock-api:4010

    ports:
      - "8081:8080"
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  consumer-service:
    build: ./consumer-service
    depends_on:
      kafka:
        condition: service_healthy
      mock-api:
        condition: service_started
      redis:
        condition: service_healthy

    environment:
      KAFKA_BOOTSTRAP: kafka:29092
      MOCK_API_URL: http://mock-api:4010

    ports:
      - "9000:9000"
